{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::html 개요:::</title>
</head>
<body>
    <pre>
        <button onclick="javascript:location.href='http://www.daum.net';">
        '다음 링크'</button>
        <hr/>
        <button onclick="javascript:location.href='http://www.naver.com';">
        '네이버 링크'</button>
        <hr/>
        <button onclick="javascript:location.href='http://www.google.com';">
        '구글 링크'</button>     
        <hr/>  
        <button onclick="javascript:location.href='/front/01_html/';">
        '<img src='/static/frontapp/images/img1.jpg' 
        width='200' height='200'>'</button>
         
        <button onclick="javascript:location.href='/front/01_html/';">'<img src="{% static 'frontapp/images/img1.jpg' %}"
        width='300' height='300'>'</button>
    
        <a href='http://www.daum.net'>daum.net으로</a>
        <a href='#'>daum.net으로</a>
    </pre>
</body>
</html>