<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::HTML -div 처리:::</title>
    <style>
       div.div13{
           background-color:yellow;
           color: blue;
        

        }
       div.div24{
           background-color:blue;
           color: white;
        }
        div{
            padding: 20px;
           margin: 20px;
        }
    </style>
</head>
<body>
    <!--
        [div]
        -블록태그로 주로 사용됨
        -영역을 설정할 뿐, 특별한 내부 텍스트 처리 기능은 없음
        -보통 레이어 구성(화면 구성)시에 사용되는 경우가 있음
    -->
    <h3>HTML-div처리</h3>
    <hr/>
    <div class='div13'>
        <h5>div 블록태그1</h5>
        <p>
           아무거나거나거나..<br/>
           진짜 아무거나<br/>
           아묵난거나
        </p>
    </div>
    <div class='div24'>
        <h5 background-color=yellow; >div 블록태그2</h5>
        <p>
           아무거나거나거나..<br/>
           진짜 아무거나<br/>
           아묵난거나
        </p>
    </div>
    <div class='div13'>
        <h5>div 블록태그3</h5>
        <p>
           아무거나거나거나..<br/>
           진짜 아무거나<br/>
           아묵난거나
        </p>
    </div>
    <div class='div24'>
        <h5>div 블록태그4</h5>
        <p>
           아무거나거나거나..<br/>
           진짜 아무거나<br/>
           아묵난거나
        </p>
    </div>
</body>
</html>