<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::03_radio button:::</title>

    <script type='text/javascript'>
        //전체 페이지 초기화(새로고침)
        function allReload(){
            location.reload();
        }
        //라디오버튼 태그만 초기화
        function radioReload(){
           fm=document.getElementById('fm');
           //alert('gogo.....');
           //라디오버튼의 값들은 여러개->배열 형태
           // -for문을 이용해서 체크 여부확인
           //- 체크가 되었다면 checked라는 속성이 true의 값을 가짐
           // -체크가 안된 버튼들은 checked라는 속성이 false값을 가짐
           //for i in range(0, len(city), 1):
            for(i=0; i<fm.city.length; i++){
                if(fm.city[i].checked==true){
                    //alert(fm.city[i].value);
                    fm.city[i].checked=false;
               }
           }
        }
        //get 방식으로 처리해서 데이터 전송시키기
        // -전송 후 화면에 전달딘 값이 잘 보이는지 확인
        function goRadio(){

            // 선택된 지역의 값(value)을 alert창에 출력해 주세요
            fm=document.getElementById('fm');
            //alert(fm.city.value);
            city = fm.city.value;

            url='/front/04_radio/?';
            url=url+'city='+city;

            location.href=url;
        }
    </script>
</head>
<body>
    <h3>03_radioButton</h3>
    <hr/>
<form id='fm' name='fm' method='post' action='/front/04_radio/'>
   {% csrf_token %}
   <!-- 라디오버튼
       - 하나의 항목에 대해서 여러개의 버튼의 name은 동일하게 처리
       -value 값은 지정되어 있어야 함
       -선택된 값 한개가 name이름으로 전송됨
       -city=['서울','경기','광주','부산']-->
   지역 선택:
   <input type='radio' name='city' value='서울'>서울
   <input type='radio' name='city' value='경기'>경기
   <input type='radio' name='city' value='광주'>광주
   <input type='radio' name='city' value='부산'>부산
   <hr/>
   <input type='submit' value='저장하기1'>
   <input type='button' value='저장하기2' onclick='goRadio()'>
   <input type='button' value='라디오버튼만 초기화'
           onclick='radioReload()'>
    <input type='button' value='전체 초기화'
           onclick='allReload()'>
</form>
</body>
</html>