<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::html 개요:::</title>

    <script type='text/javascript'>
        function checkReload(){
           fm=document.getElementById('fm');
            for(i=0; i<fm.city.length; i++){
                if(fm.city[i].checked==true){
                    //alert(fm.city[i].value);
                    fm.city[i].checked=false;
                } 
            }
        }
    </script>    
</head>
<body>
    <h3>05_checkBox</h3>
    <hr/>
<form id='fm' name='fm' method='post' action='/front/04_radio/'>
   {% csrf_token %}
   <!--  체크박스
       - 하나의 항목에 대해서 여러개의 체크된 값을 저장
       -name은 동일하게 처리
       -value값은 여러개 선택하여 지정가능
       -선택된 값 여러개가 name이름으로 전송됨
       -현재 보이는 형태 city=['서울','경기','광주','부산']-->
   지역 선택:
   <input type='checkbox' name='city' value='서울'>서울
   <input type='checkbox' name='city' value='경기'>경기
   <input type='checkbox' name='city' value='광주'>광주
   <input type='checkbox' name='city' value='부산'>부산
   <hr/>
   <input type='button' value='체크박스 초기화'
           onclick='checkReload()'>
</form>
</body>
</html>