{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::front index Page:::</title>
</head>
<body>
    <h3>이미지 테스트</h3>
    <hr/>
    <p>
    </P> 
    <hr/>
    카이막 사진 :
    <!-- 이미지 파일 보여주기 --> 
    <img src='/static/frontapp/images/img1.jpg'
        width='200' height='200'>
    <img src="{% static '/frontapp/images/img1.jpg' %}"
        width='300' height='300'>
    <hr/>  
    <a href='/front/index/'>[인덱스 페이지 바로가기]</a>

</body>
</html>