{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::front index Page:::</title>
</head>
<body>
    <h3 onclick="javascript:alert('제목 클릭');">
        javascript1 테스트(태그 내에 js 적용)</h3>
    <hr/>
    css1 가기: <a href='/front/css_1'>[바로가기]</a>
   
    css2 가기: <a href='/front/css_2'>[바로가기]</a>
    
    css3 가기: <a href='/front/css_3'>[바로가기]</a>
    <!-- javascript 방식으로 변환하기-->
    <hr/>
    css1 가기: 
        <a href="javascript:location.href='/front/css_1/';">
            [바로가기]</a>
   
    css2 가기: 
       <a href="javascript:location.href='/front/css_2/';">
            [바로가기]</a>
    
    css3 가기: 
       <a href="javascript:location.href='/front/css_3/';">
           [바로가기]</a>
    <hr/>
    알림창 보여주기 : 
           <a href="javascript:alert('알림창이 보이네요!');">
               [알림창 보기]</a>

    <!--버튼으로 보여주기-->
    <hr/>
    css1 가기:
        <button onclick="javascript:location.href='/front/css_1/';">
        바로가기</button> 
        
   
    css2 가기:
        <button onclick="javascript:location.href='/front/css_2/';">
        바로가기</button> 
    
    css3 가기:
        <button onclick="javascript:location.href='/front/css_3/';">
        바로가기</button>            

    <hr/>  
    FrontApp 인덱스 :
        <a href='/front/' 
        style='color: rgb(255, 196, 0);
                background-color:darkgreen;'>
        [인덱스 페이지 바로가기]</a>

</body>
</html>