{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::front index Page:::</title>
</head>
<body>
    <h3 style='background-color: darkgreen;'>
        css1 테스트(태그 내에 css 적용)</h3>
    <hr/>
    
    <hr/>  
    FrontApp 인덱스 :
        <a href='/front/' 
        style='color: rgb(255, 196, 0);
                background-color:darkgreen;'>
        [인덱스 페이지 바로가기]</a>

</body>
</html>