{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::front index Page:::</title>
    <!-- 내부 방식 -->
    <style>
    h3 {
        background-color: darkgreen;
        color: white;
    }
    a {
        background-color: darkgreen;
        color: yellow;
    }

    </style>
</head>
<body>
    <h3> css2 테스트 (태그 내에 css 적용) </h3>
        
    <hr/>
    
    <hr/>  
    FrontApp 인덱스 :
    <a>[바로가기]</a>
        <a>
        [인덱스 페이지 바로가기]</a>

</body>
</html>