<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::front index Page:::</title>
</head>
<body>
    <h3>이곳은 front Page 입니다.</h3>
    <hr/>
    <p>
    </P> 
    <hr/>

    FrontApp:<a href='/front/'>[바로가기]</a></a>
    <hr/>  
    <a href='/'>[인덱스 페이지 바로가기]</a>
    <hr/>
    01_Image테스트 : <a href='/front/image/'>[바로가기]</a>
    <hr/>
    02_css1테스트 : <a href='/front/css_1'>[바로가기]</a>
    <hr/>
    02_css2테스트 : <a href='/front/css_2/'>[바로가기]</a>
    <hr/>
    02_css3테스트 : <a href='/front/css_3/'>[바로가기]</a>
    <hr/>
    01_javascript1테스트 : <a href='/front/javascript1/'>[바로가기]</a>
    <hr/>
    01_javascript2테스트 : <a href='/front/javascript2/'>[바로가기]</a>
    <hr/>
    01_javascript3테스트 : <a href='/front/javascript3/'>[바로가기]</a>
    <hr/>
    01_html테스트 : <a href='/front/01_html/'>[바로가기]</a>
    <hr/>
    02_link테스트 : <a href='/front/02_link/'>[바로가기]</a>
    <hr/>
    03_link테스트 : <a href='/front/03_link/'>[바로가기]</a>
    <hr/>
    04_css테스트 : <a href='/front/04_css/'>[바로가기]</a>
    <hr/>
    05_table테스트 : <a href='/front/05_table/'>[바로가기]</a>
    <hr/>
    06_table테스트 : <a href='/front/06_table/'>[바로가기]</a>
    <hr/>
    07_ul테스트 : <a href='/front/07_ul/'>[바로가기]</a>
    <hr/>
    08_div테스트 : <a href='/front/08_div/'>[바로가기]</a>
    <hr/>
    09_div테스트 : <a href='/front/09_div/'>[바로가기]</a>
    <hr/>
    10_iframe테스트 : <a href='/front/10_iframe/'>[바로가기]</a>
    <hr/>
    01_table테스트 : <a href='/front/01_table/'>[바로가기]</a>
</body>
</html>