<!DOCTYPE html>
<html>
<!-- HTML 문서의 정보가 최초에 읽혀지는 영역
-문서 제목 (TITLE):브라우저 탭 이름과 동일
-CSS, JAVASCRIPT, 메타정보 등이 정의되는 부분
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:::MAIN INDEX Page:::</title>
</head>
<!-- 브라우저에 보여지는 모든것...
 -CSS, JAVASCRIPT 정의도 가능
-->
<body>
    <!-- 제목  태그-->
    <h1>:::INDEX PAGE h1:::</h1>
    <h2>:::INDEX PAGE h2:::</h2>
    <h3>:::INDEX PAGE h3:::</h3>
    <h4>:::INDEX PAGE h4:::</h4>
    <h5>:::INDEX PAGE h5:::</h5>
    <!--
    
     -->
    <hr/>

    <!-- 페이지 이동:링크처리
      url:http://127.0.0.1:8000/first/
      root경로: 
     -->
    FirstApp:<a href='/first/'>[바로가기]</a>
    <br/>
    SecondApp:<a href='/second/'>[바로가기]</a>
    <br/>
    MainApp:<a href='/main/main/'>[바로가기]</a>
    <br/>
    frontApp:<a href='/front/'>[바로가기]</a>
</body>
</html>
